.main{
    width: 430px;
    height: 100px;
    font-size: 16px;
    border : 1px solid gray;
    margin-bottom: 8px;
    border-radius: 10px;
}

.main_img{
    width : 69px ; 
    height : 92px; 
    margin:4px ;
    float: left;
}

.main_box1{
    width: 350px;
    height: 85px;
    font-size: 16px;
    padding-top: 15px;
    float: left;
}
.main_title{
    width : 240px ; 
    height : 40px; 
    margin:4px ;
    float: left;
    word-break:break-all;
}


.main_rank{
    width : 40px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
}

.main_rankUp{
    width : 45px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
    color:red
}

.main_rankDown{
    width : 45px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
    color:blue
}

.main_rankSame{
    width : 45px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
}


.main_new{
    width : 62px ; 
    height : 18px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    border: 2px solid #285e8e;
    background-color: #367fa9;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.main_audiCnt{
    width : 292px ; 
    height : 20px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    font-size: 15px;
}
.main_audiChange{
    width : 292px ; 
    height : 20px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    font-size: 12px;
    color: gray;
}


.movielist{
    width: 186px;
    height: 316px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}

.movielist_img{
    width : 90px ; 
    height : 120px; 
    margin:4px ;
    float: left;
}

.movielist_title{
    width : 178px ; 
    height : 45px; 
    margin:4px ;
    float: left;
    font-size: 20px;
}

.movielist_rank{
    width : 74px ; 
    height : 23px; 
    margin:4px ;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.movielist_rankUp{
    width : 45px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
    color:red
}

.movielist_rankdown{
    width : 45px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
    color:blue
}

.movielist_rankSame{
    width : 45px ; 
    height : 18px; 
    margin:4px ;
    float: left;
    word-break:break-all;
}


.movielist_new{
    width : 74px ; 
    height : 18px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    border: 2px solid #285e8e;
    background-color: #367fa9;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.movielist_audiCnt{
    width : 178px ; 
    height : 20px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    font-size: 15px;
}

.movielist_audiCnt1{
    width : 178px ; 
    height : 35px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    font-size: 15px;
}
.movielist_audiChange{
    width : 178px ; 
    height : 20px; 
    margin-left:4px ;
    float: left;
    word-break:break-all;
    font-size: 12px;
    color: gray;
}

#movie_img{
    width : 158px;
    height : 260px;
    float: left;
}


#movie_info{
    width: 800px ;
    height: 260px;
    margin-left: 30px;
    float: left;
}

.movie_title{
    width : 650px;
    height : 60px;
    font-size: 25px;
    float: left;

}
.movie_titleEn{
    width : 800px;
    height : 15px;
    font-size: 12px;
    margin-bottom: 10px;
    color: gray;
    float: left;

}

.movie_grade{
    width : 150px;
    height : 45px;
    font-size: 30px;
    color: #285e8e;
    float: left;

}

.movie_item1{
    width : 800px;
    height : 20px;
    font-size: 17px;
    float: left;
}

.movie_item2{
    width : 800px;
    height : 40px;
    font-size: 17px;
    float: left;
}

.comment{
    width: 1000px;
    height: auto;
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;

}
.comment_img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: gray;
    float: left;
}

.comment_id{
    height: 20px;
    width: 800px;
    float: left;
}

.comment_content{
    min-height: 30px;
    height: auto;
    width: 950px;
    float: left;
}

.delet_comment{
    height: 20px;
    width: 150px;
    float: left;
    color: red;
}

#user_favorite{
    width: 400px;
    float: left;
    padding-top: 50PX;;
}
#user_favorite_title{
    font-family: "돋움";
    width: 400px;
    border-bottom:1px solid #dddddd;
    font-size: 21px;
    font-weight: bold;
}


.favorite_img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: gray;
    float: left;
}

.user_favorite_id{
    height: 50px;
    width: 250px;
    float: left;
}

.delet_comment{
    height: 20px;
    width: 100px;
    float: left;
    color: red;
}
#inputtext{
    width: 50px;
}

#search_box{
    margin:auto; 
    width:1000px; 
    margin-bottom : 20px;
    float: left;
}

#search_title{
    width: 1000px;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    float: left;
}

#search_input{
    margin-left: 250px;
    width: 396px;
    height: 30px;
    font-size: 25px;
    float: left;
}

#search_button{
    margin-left: 10px;
    width: 80px;
    height: 34px;
    float: left;
}

#user_commnet_page{
    float: left;
    width: 600px;
    height: 30px;
    margin-bottom: 20px;
}
#comment_page{
    float: left;
    width: 50px;
}
.comment_button{
    float: left;
    width: 50px;
}
#favorite_page{
    float: left;
    width: 50px;
}